# Build
target
target-eclipse

# IDEA
*.iml
*.ipr
*.iws
.idea
atlassian-ide-plugin.xml

# Eclipse
.classpath
.project
.settings
.checkstyle
.fbprefs
.metadata
bin

.DS_Store
*~

# Biolark artifacts
biolark/resources/BioLark-CR/cr.properties
biolark/resources/BioLark-CR/data_out/
biolark/resources/BioLark-CR/data_in/
biolark/resources/BioLark-CR/ta_tmp/*
biolark/*.log


